<h2 style="font-size:300%"><%= link_to 'Yahoo Questions', controller: 'questions' %></h2>  

<p>Welcome to Yahoo!  If you want to visit our
   Yahoo Questions page, click on the link above.  <br> 
   Users must be signed in to manipulate content.  </p>

